* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: poppins;
    }
  
  .navbar {
    background: #1338BE;
     height: 80px;
     display: flex;
     justify-content: center;
     align-items: center;
     font-size: 1.2rem;
     position: sticky;
     top: 0;
     z-index: 999;
    }
  
  .navbar__container  {
     display: flex;
     justify-content: space-between;
     height: 80px;
     z-index: 1;
     width: 100%;
     max-width: 1300px;
     margin: 0 auto; 
     padding: 0 50px;
    }
  
  #navbar__logo {
   background-color: #63C5DA;
   background-image: linear-gradient(to top, #fff 0%, #63C5DA 100%);
   -webkit-background-clip: text;
   moz-background-clip: text;
   -webkit-text-fill-color: transparent;
   -moz-text-fill-color: transparent;
   display: flex;
   align-items: center;
   cursor: pointer;
   text-decoration: none;
   font-size: 2rem;
  }
  
  .bi bi-laptop {
  
    margin-right: 0.5rem;
   }
  
  .navbar__menu {
    display: flex;
   align-items: center;
   list-style: none;
   text-align: center;
   }
  
  .navbar__item {
   height: 80px;
   }
  
  .navbar__links {
    color: #fff;
   display: flex;
   align-items: center;
   justify-content: center;
   text-decoration: none;
   padding: 0 1rem;
   height: 100%
   }
  
  .navbar__btn {
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 0 1rem;
   width: 100%;
    }
  
  .button {
    display: flex;
   justify-content: center;
   align-items: center;
   text-decoration: none;
   padding: 10px 20px;
   height: 100%;
   width: 100%;
   border: none; 
   outline: none;
   border-radius: 4px;
   background: #fff;
   color: #1338BE;
   }
  
  .button:hover {
    opacity: 0.75; 
   transition: all 0.3s ease;
   
  }
  
  .navbar__links:hover {
    color: #63C5DA;
   transition: all 0.3s ease;
  }
  
  @media screen and (max-width: 960px) {
    .navbar__container {
    display: flex;
   justify-content: space-between;
   height: 80px;
   z-index: 1;
   width: 100%;
   max-width: 1300px;
   padding: 0;
  }
  
  .navbar__menu {
    display: grid;
   grid-template-columns: auto;
   margin: 0;
   width: 100%;
   position: absolute;
   top: -1000px;
   opacity: 0;
   transition: all 0.5s ease;
   height: 50vh;
   z-index: -1;
   background: #fff;
   }
  
  .navbar__menu.active  {
    background: #fff;
   top: 100%;
   opacity: 1;
   transition: all 0.5 ease;
   z-index:99;
   height: 50vh;
   font-size: 1.6rem;
  } 

  .navbar__links {
      color: #000;

  }
  .navbar__links:hover {
      color: #444444;
      
  }
  
  #navbar__logo  {
    padding-left: 25px;
    
   }
  
  .navbar__toggle .bar {
    width: 25px;
   height: 3px;
   margin: 5px auto;
   transition: all 0.3s ease-in-out;
   background:#fff;
  }
  
  .navbar__item {
    width: 100%;
   }
  
  .navbar__links {
    text-align: center;
   padding: 2rem;
   width: 100%;
   display: table;
   }
  
  #mobile-menu {
    position: absolute;
   top: 20%;
   right: 5%;
   transform: translate(5%, 20%);
   }
  
  .navbar__btn {
    padding-bottom: 2rem;
  }
  
  .button {
    display: flex;
   justify-content: center;
   align-items: center;
   width: 80%;
   height: 80px;
   margin: 0;
   background: #1338BE;
   color: #fff;
   }
  
  .navbar__toggle .bar{
    display: block;
    cursor: pointer;
   }
  
  #mobile-menu.is-active .bar:nth-child(2) {opacity: 0;}
  #mobile-menu.is-active .bar:nth-child(1) {
   transform: translateY(8px) rotate(45deg);
   } 
  #mobile-menu.is-active .bar:nth-child(3) {
   transform: translateY(-8px) rotate(-45deg);
   } 
  
  }


  .header {
      display: inline-flex;
      background: #1338BE;
      color: #fff;
      
     align-items: center;
     width: 100%;
     justify-content: center;
     height: 500px;
  }

  .header__image {
      width: 350px;
      height: auto;
      
  }

  .header__texts {
      color: #fff;
      margin-left: 30px;
  }
  .header__head {
      font-weight: bold;
  }


  @media screen and (max-width: 960px) {
      .header {
          display: block;
          width: 100%;
         align-items: center;
         justify-content: center;
         padding-top: 120px;

      }
      .header__image {
          display: block;
          width: 50%;
        
          margin-left: auto;
          margin-right: auto;

      }
     
      .header__texts {
          text-align: center;
          width: 70%;
          margin: auto;
      }
  }

  .main__container {
      width: 100%;
      margin: 0;
      padding: 0;
      display: flex;

  }
  .main {
      width: 100%;
      max-width: 100%;
      max-height: 1000px;
      height: 100%;
  }
  .main {
     display: grid;
     width: 100%;
     grid-template-columns: repeat(2, 1fr);
     grid-template-rows: repeat(2, 1fr);

  }
  .main1 {
      background: #1338BE;
      align-items: center;
      justify-content: center;
      grid-column: 1/2;
      grid-row: 1/2;
      padding: 30px;
  }
  .main2 {
    background: #fff;
    align-items: center;
    justify-content: center;
    grid-column: 2/3;
    grid-row: 1/2;
    padding: 30px;
    
}
.main3 {
    background: #fff;
    align-items: center;
    justify-content: center;
    grid-column: 1/2;
    grid-row: 2/3;
    padding: 80px 30px 30px 30px;
    
}
.main4 {
    background: #1338BE;
    align-items: center;
    justify-content: center;
    grid-column: 2/3;
    grid-row: 2/3;
    padding: 30px;
}
  
  .main__image {
    display: block;
    width: 50%;
  
    margin-left: auto;
    margin-right: auto;
  }
  .main__texts {
    text-align: center;
    width: 80%;
    margin: auto;
    color: #fff;
  }